<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          local.<br>foundation
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">home</a>

      <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="/we">we</a>
      <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="/programs">programs</a>

    </nav>

    <p xmlns:dct="http://purl.org/dc/terms/">
    <a rel="license" href="http://creativecommons.org/publicdomain/mark/1.0/">
        <img src="http://i.creativecommons.org/p/mark/1.0/88x31.png"
             style="border-style: none;" alt="Public Domain Mark" />
    </a>
    </p>
  </div>
</div>
